@import "../../theme";

.login-page {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .left-column {

        .landing-image {
            width: 27vw;
            height: 100%;
        }
    }

    .right-column {
        flex: 1;

        .login-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            justify-content: center;
            margin: auto !important;

            .title {
                margin-bottom: 0.3rem;
                font-weight: 200;
                font-size: 1.25rem;
            }

            .instructions {
                margin: 0.2rem;
            }

            .google-logo {
                display: inline-block;
                position: relative;
                right: 0.5rem;
                width: 3.5rem;
                height: 80%;
                box-sizing: border-box;
            }

            .button {
                margin: 1rem;
                border: 1px solid map-get($grey, 100);
                font-size: small;
                padding: 0.1rem 0.1rem;
            }

            .landing-logo {
                height: 5rem;
                margin-top: 1rem;
            }
        }
    }
}
