@import "../../theme";

.login-page {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .left-column {
        background-color: map_get($grey, 200);
        width: 25vw;

        .logo-image {
            margin: 1.8rem;
            height: 2.5rem;
            width: 4.5rem;
        }
    }
    .right-column {
        flex: 1;

        .login-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            justify-content: center;
            margin: auto !important;

            .title {
                margin-bottom: 0.3rem;
            }

            .instructions {
                margin: 0.2rem;
            }

            .google-logo {
                width: 2rem;
                height: 2rem;
            }

            .button {
                margin: 2rem;
                border: 0.1rem solid map-get($grey, 200);
                font-size: small;
            }
        }
    }
}

.google-logo {
    width: 1.5rem;
    height: 1.5rem;
}
