@import '../../theme.scss';

.button_ {
    background-color: map-get($white, 100) !important;
    border: 0.09rem solid map-get($grey, 500) !important;
    border-radius: 0.2rem !important;
    max-height: 2rem !important;
    margin: 0.2rem !important;

    &:hover {
        background-color: map-get($grey, 600) !important;
        border: 0.09rem solid map-get($grey, 600) !important;
        color: map-get($white, 100) !important;
    }

    &:focus {
        background-color: map-get($grey, 600) !important;
    }

    &>div {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: inherit !important;
        padding: 0 0.2rem;

        &>span {
            padding: 0 !important;
            text-transform: capitalize !important;
            font-size: 0.6rem !important; 
        }
    }
}
