.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #F1F3F6;
  position: fixed;
  align-items: center;
}

.report-btn {
  align-self: flex-end;
  bottom: 20px;
  right: 20px;
  position: fixed;
  background-color: #009688 !important;
  color: white !important;
}