@import '../../common/theme.scss';

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: $background;
}

.report-btn {
  align-self: flex-end;
  bottom: 20px;
  right: 20px;
  position: fixed;
  background-color: map_get($colors, secondary) !important;
  color: white !important;
}