@import '../../theme.scss';

.table-header {
    background-color: map-get($blue, 200);
    &>th {
        color: white !important;
    }
}

.incident-flag {
    width: 2rem;
    height: 2rem;

    &:hover {
        cursor: pointer;
    }
}

.all-incidents {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .incidents {
        display: flex;
        width: 33rem;
        flex-direction: column;
        background: #f5f5f5;
        border-radius: .4rem;
        margin: 2rem 0.5rem;

        .incident-title {
            display: flex;
            border-radius: .4rem .4rem 0 0;
            padding: 1rem;
            background: #e4e4e4ba;
            flex-direction: row;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.16), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.23);

            .incident-status {
                font-weight: 500;
            }

            .incident-count {
                margin-left: auto;
                font-size: smaller;
                color: #5f5f5f;
                font-weight: 100;
            }
        }

        .incident-cards {
            flex-direction: column;
            align-items: center;
            min-height: 65vh;
            overflow-y: scroll;
            justify-content: space-between;

            // style for no incidents message
            .no-incidents {
                font-weight: 100;
                color: #b5b5b5;
                font-size: .9rem;
                align-items: center;
                justify-content: center;
                p {
                    position: relative;
                    text-align: center !important;
                    vertical-align: middle !important;
                }
            }

            .incident-card {
                border-radius: .4rem;
                margin: 5%;
                background: white;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0.16), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.23);

                .incident-header {
                    display: flex;
                    flex-direction: column;
                    padding-left: 1rem;
                    padding-top: 1rem;
                    padding-bottom: .2rem;
                    
                    .incident-subject {
                        a {
                            text-decoration: none !important;
                            color: inherit !important;
                        }
                    }

                    .incident-report-date {
                        font-style: italic;
                        font-weight: 100;
                        font-size: 0.7rem;
                        padding-bottom: 1rem;
                        padding-top: .6rem;
                    }
                }
                
                .incident-actions {
                    display: flex;
                    justify-content: space-between;
                    border: .04rem solid #ececec;
                    border-radius: .4rem;
                    font-size: .8rem;
                    font-weight: 100;

                    .incident-time {
                        padding-top: 1.3rem;
                        margin: 0 auto;
                    }

                    .assigned-to {
                        border-right: .011rem solid #ececec;
                        border-left: .011rem solid #ececec;
                        padding-top: 1.3rem;
                        padding-right: 1.5rem;
                        padding-left: 1.5rem;
                        margin: 0 auto;
                    }

                    .incident-flag {
                        padding-top: 1.3rem;
                        margin: 0 auto;

                        .flag-image {
                            width: 0.6rem;
                            height: 1rem;
                        }
                    }
                }
            }
        }
    }

    .incidents-in-progress {
        display: flex;
        width: 33rem;
    }
    
    .incidents-resolved {
        display: flex;
        width: 33rem;
    }
}
