@import "../../theme";

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 1.5rem;
  margin-top: 0;
  background-color: #E4E4E4;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
  max-height: 88vh !important;

  .divider {
    background-color: map_get($white, 100);
    color: map_get($white, 100);
    width: 100%;
    margin: 2rem auto;
    border-style: solid;
    border-radius: 0.1rem;
    padding: 0.1rem;
  }

  .incident-details {
    padding: 0.5rem;

    .incident-subject {
      font-weight: 400;
      font-size: 1.5rem;
    }

    .incident-flag {
      img {
        width: 2rem;
        height: 1.5rem;
      }

      &:hover {
          cursor: pointer;
      }
    }
    
    .incident-extra {
      font-weight: 100;
      font-size: 0.7rem;
    }
  }

  .incident-status {
      font-weight: 300;

      .list {
        li {
          font-weight: 400;
        }
      }

      .dropdown {
        position: relative;
        &>div {
          border-color: black !important;
          &>button {
            &>div {
              svg {
                fill: black !important;
              }
            }
          }
          &>div {
            border-color: black !important;
          }
        }
      }
  }

  .incident-activity {
    overflow: scroll !important;
    height: 25% !important;
    padding: 0.5rem;

    .incident-activity-item {
      background-color: map_get($white, 100);
      border-radius: 0.3rem;
      padding: 0.5rem;
      margin: 1rem 0 !important;
      box-shadow: 0.1rem 0.1rem 0.5rem map_get($grey, 500);
    }
  }

}
