@import "../../theme";

.chat-container {
  max-height: 80vh !important;
  overflow: auto;

  .chat-list {
    width: 90%;
    margin: 2rem auto;

    .chat-item-right {
      &>div {
        &>div {
            text-align: right;
          &>div, p {
            padding-right: 1rem;
          }
        }
      } 
    }
  }

  .message-input {
    margin: 0 auto !important;
    top: auto !important;
    bottom: 0 !important;
    position: absolute !important;
    background-color: map_get($white, 100) !important;
    width: 100% !important;

    .text-input {
      border-top-color: map_get($grey, 700) !important; 
      border-top-style: solid !important;
      border-top-width: thin;
      width: 100% !important;
    }
  }
}
