@import "../../theme";

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

.filters-container {
  @include flex-column;
  width: 95vw;
  max-height: 8rem;
  margin: auto !important;

  .filters {
    @include flex-row;
    width: 90vw;
    height: 4rem;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;

    .incidents-label {
      font-weight: 200;
      color: map_get($grey, 300);
      padding: 0 0.5rem;
    }

    .duration-filter {
      max-width: 10rem !important;
      margin: 0 1rem;
    }

    .date-filter {
      &>div {
        margin: 0 1rem;
        max-width: 6rem !important;
      }
    }

    .flag-type-label {
      font-weight: 500;
      color: map_get($grey, 300);
    }

    .toggle-section {
      @include flex-row;
      padding: 0 0.5rem;
      max-width: 2rem !important;

      .toggle-label {
        font-weight: 200;
        font-size: 0.8em;
        color: map_get($grey, 300);
        margin: auto 0.2rem;
        padding: 0 0.5rem;
      }
    }

    .flag-filter {
      max-width: 10rem !important;
      margin: 0 1rem;
    }

    .country-filter {
      max-width: 10rem !important;
      margin: 0 0.5rem;
    }

  }

}
