@import "../../theme";

.navbar {
  background-color: map_get($blue, 400);
  background-image: linear-gradient(to right, map_get($blue, 300), map_get($blue, 400));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 4rem;

  .left-nav-section {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
      width: 2rem;
      height: 2rem;
      margin: auto 1rem;
    }

    .search-input {
      font-family: "FontAwesome";
      width: 30rem;
      height: 1.5rem;
      border: none;
      border-radius: 2rem;
      padding-left: 1rem;
      margin: auto 1rem;
      outline: none;
    }
  }

  .right-nav-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    // width: 5rem;
    margin: auto 2rem;

    .notifications {
      margin: auto .5rem;
      cursor: pointer;

      .badge {
        padding: 1rem !important;
        left: -1rem;
        &>span {
          background-color: map_get($red, 300) !important;
          color: map_get($white, 100) !important;
        }
      }
    }

    .profile {
      position: relative;
      display: inline-block;
      z-index: 1;
      
      .dropdowntn {
        box-sizing: border-box !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-height: 4rem;
        padding: 0.2rem;
        color: map_get($white, 100);
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        left: 4.5rem;
        height: 3rem;
        width: 6rem;
        border-radius: .3rem;
        box-shadow: 0.1rem 0.1rem 1rem map_get($grey, 500);
        z-index: 1;
        cursor: pointer;

        span {
          display: block;
          color: map_get($black, 700);
          line-height: 3;
        }
      }

      &:hover {
        background-color: map_get($blue, 700);
      }

      &:hover .dropdown-content {
        display: block;
        text-align: center;
        background-color: map_get($white, 100);
      }
    }
  }
}

.notification-icon {
  transform: rotate(20deg);
  color: map_get($white, 100);
}

.profile-img {
  background-color: map_get($white, 100) !important;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: .5rem;
}
