@import "../../common/theme";

.appbar {
    width: 100%;
    background: map_get($colors, primary);
}

.appbar h1 {
    font-size: 48px;
}

.appbar .material-icons {
    font-size: 40px;
}

.link {
    color: map_get($colors, light) !important;
}