@import "../../common/theme.scss";

.incident {
  background-color: map_get($grey, 150);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid map_get($grey, 400);
  height: 4rem;
  margin: 0.2rem auto;
  padding: 0.2rem;
  transition: all 0.5s;

  &:hover {
    background-color: map_get($grey, 400);
    cursor: pointer;
  }

  .left-content, right-content{
    display: inline-flex;
    align-items: center;
  }

  .right-content {
    .status {
      margin: auto 1rem;
    }

    .more-container {
      display: inline-flex;
      align-items: center;
      position: relative;

      .more-menu {
        background-color: map_get($grey, 400);
        position: absolute;
        display: none;
        right: 1.5rem;
        margin: 0;
        padding-left: 0;

        &:hover {
          display: block;
        }

      }

      .more:hover {
        ~.more-menu {
          display: block;
          transition: all 2s ease-out;
        }
      }
    }
  }

  .left-content {

    .avatar {
      background-color: #ff4f4c;
    }

    .details {
      margin: 0.2rem;

      p {
        margin: 0.09rem;
      }
  }
  }

  ul {
    list-style-type: none;

    li {
      margin: 1px;
      padding: 0.4rem;
    }
  }
}
