// Global Rule Definitions
body, div, h1, h2, h3, h4, p, a {
  font-family: "Primary-DINPro", serif;
  font-weight: 400;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}

// define primary colors
$colors : (
  primary: #3359DF,
  secondary: #0A21A8,
  primaryshade: #127dc5,
  header: #09486f,
  secondaryheader: #358fe2,
  tertiary: #FFAF30,
  background: #E4EBF1,
  btn-background-inactive: #fff,
  btn-background-hover: #ff5a56,
  btn-border-inactive: #97c5f0,
);

$grey : (
  700: #333333,
  600: #656565,
  500: #777777,
  400: #7C7C7C,
  300: #808080,
  200: #929292,
  100: #BCBCBC,
);

$light-gray : (
  300: #f9f9f9
)
